body{
    background:#efefef;
    margin:0;
     /*去掉body默认样式后边距少了8px */
}
[data-x].active{
    outline:10px solid red;
}
[data-x].offset{
     transform:translateY(100px);
}
[data-x]{
     transform:translateY(0);
     transition:all 0.5s;
}
@keyframes slideUp{
    0%{transform: translateY(-30px);}
    100%{transform: translateY(0);}
}
a{
    color:inherit;
    text-decoration: none;
}
ol,ul{
    list-style:none;
}
.clearfix::after{
    content:'';
    display:block;
    clear:both;
}
.topNavBar nav>ul{
    list-style:none;margin:0;padding:0;
}
.topNavBar nav>ul>li{
    float:left;
    margin-left:17px;
    margin-right:17px;
    position:relative;
}
.topNavBar nav>ul>li>a{
    font-size:12px;
    color:inherit;
    /* text-decoration:none; 因为一开始的a标签已声明所以这里不用再写了*/
    font-weight:bold;
    border-bottom: 3px solid transparent;
    border-top: 3px solid transparent;
    padding-top:12px;
    padding-bottom:5px;
    display:block;
    /* 给a一个display：block使得li标签包裹住a标签 */ 
    position:relative;
}
.topNavBar nav>ul>li.active>a::after,
.topNavBar nav>ul>li.highlight>a::after{
    /* border-bottom: 3px solid #e8676b; */
    content:'';
    display:block;
    position:absolute;
    top:100%;
    left:0;
    width:100%;
    background:#e8676b;
    height:2px;
    animation:menuSlide 0.3s;
}
@keyframes menuSlide {
    0%{width:0;}
    100%{width:100%;}
}
/* 下面的两个class样式可以用这个替换一下 把样式加在父级元素上
.rs{
    font-size:24px;
    font-family:"Arial Black";
}
.card{
    font-size:24px;
    font-family:"Arial Black";
} */
.topNavBar .logo{
    font-size:24px;
    font-family:"Arial Black";
    /* rs card和nav里的行高要一致，虽然例子中的高度是一样,为了了解我们故意设置高度：这样高度就为了40px */
    padding-top:3px;
    padding-bottom:4px;
}
.rs{
    margin-right:4px;
    color:#e8676b;
}
.card{
    color:#9a9da2;
}
 /* rs card和nav里的行高要一致，虽然例子中的高度是一样,为了了解我们故意设置高度：这样高度就为了40px */
.nav{
    padding-top:3px;
    padding-bottom:4px; 
}
.topNavBar.sticky{
    background:white;
    padding: 5px;
    z-index: 1;
    box-shadow:0 0 10px rgba(0,0,0,0.3);
    color:#3d4451;
}
.topNavBar{
    /* padding-top:12px;去掉body默认样式后边距少了8px */
    /* 下面四行代码可以用下面的代码代替：
    padding-top:20px;
    padding-bottom:20px;
    padding-left:16px；
    padding-right:16px； */
    padding:20px 0px 20px 0px;
    /* 一般不写 position:fixed脱离文档流;会出问题，相应的div会缩回距离， */
    position:fixed;
    top:0;
    left:0;
    /* 相应的div会缩回距离，用 width:100%;但是往往造成宽度大于父级元素，所以会在相应div外面再加一个div与padding属性 */
    width:100%;
    transition:all 1s;
    color:#cbcacb;
    
}
.banner{
    background-image: url(./img/background.jpg);
    /* border:1px solid red; */
    height:515px; 
    background-position:center center;
    background-size:cover;
}
.banner .mask{
    height:515px;
    background-color:rgba(0,0,0,0.8);
}
.topNavBar-inner{
    padding:0 16px;
}
.userCard{
    max-width:940px;
    margin-left:auto;
    margin-right:auto;
    background-color:#ffffff;
    box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.3);
}
.userCard .welcome{
    background-color:#e8676b;
    color:white;
    display:inline-block;
    /* width:70px;
    height:29px;
    line-height:29px;
    text-align:center; 
    可以实现了HELLO居中但是一般不用，固定宽高容易出错，
    因为一旦内容变多，超过宽度，就不能显示了。用下面的代码代替*/

    /* 从内往外写代码，看看例子多大，补padding的值 ，这样设置内容多了，也会自适应*/
    padding:4px 16px;
    line-height:22px;
    position: relative;
    margin-bottom:10px;
}
/* 利用css border样式可以设置出各种三角形 */
.userCard .welcome .triangle{
    border:10px solid transparent;
    width:0px;
    height:0px;

  /*  可删除因为上面已经设置了transparent
    border-top-color:transparent;
    border-right-color:transparent;
    border-bottom-color:transparent; */

    border-left-color:#e8676b;
    border-top-width:0;
    display:block;
    position:absolute;
    left:4px;
    top:100%;
  } 
  .userCard .picture{
      float:left;
  }  
  .userCard .text{
      float:left;
      margin-left:65px;
      width:470px;
  }  
  .userCard .pictureAndText{
      padding:50px;
  }
  h1 ,h2, h3, h4 ,h5 ,h6, p{
      margin:0;
      padding:0;
      font-weight:normal;
  }
  .userCard .text h1{
      margin-top:18px;
      margin-bottom:10px;
  }
  hr{
      height:0;
      border:none;
      border-top:1px solid #dedede;
  }
  .userCard .text hr{
      margin: 25px 0;
  }
  .userCard dl dt,
  .userCard dl dd{
     float: left; 
     padding:5px 0;
     line-height:21px;
  }
  *{
      margin:0;
      padding:0;
      box-sizing:border-box;
  }
  .userCard dl dt{
      width: 30%;
      font-weight:bold;
    
  }
  .userCard dl dd{
    width: 70%;
    color:rgb(157, 160, 167); 
}
.userCard >footer.media{
    background-color:#e8676b;
    text-align:center;
}
.userCard svg{
    width:30px;
    height:30px;
    fill:white;
    vertical-align:top;
}
.userCard >footer.media>a{
    /* 这样设置才使得a元素可以包裹住svg元素 ，默认包不住*/
    display:inline-block;
    margin: 16px;
    border-radius:50%;
    /* 只是50%圆有点小，设置宽高使得变大 */
    width:40px;
    /* height:40px; 一写高度就出错，居中容易出问题*/
    padding:5px 0;
    line-height:30px;
    /* 跟svg高度一样，加上paddding后高度一样是40px */
}
.userCard >footer.media>a:hover{
    background:#d05c60;
}
body>main{
    margin-top:-340px;
}
body>main .downloadResumeWrapper .downloadResume{
    font-size:14px;
    line-height:16px;
    padding:21px 55px;
    display:inline-block;
    border:1px solid #cdcfd1;
    /* 因为没有高度所以margin没有用， */
    /* margin:0 auto; */
    /* 此元素为内联元素，给他加父元素，居中 */
    color:#3d4451;
    font-weight:bold;
    margin:32px 0;
    transition:box-shadow 0.2;

}
/* 给他加父元素，居中  */
body>main .downloadResumeWrapper{
    text-align: center;   
}
body>main .downloadResumeWrapper .downloadResume:hover{
    box-shadow: 0px 1px 13px 1px rgba(0,0,0,0.3);
}
 .selfintroduction{
    max-width:940px;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
    font-family: Gill Sans Extrabold, sans-serif;
    font-size: 18px;
    line-height:1.8;
}
.skills ,
.portfolio{
    max-width:940px;
    margin-left:auto;
    margin-right:auto;
    margin-top:60px;
    display:block;

}
.skills>h2,
.portfolio>h2{
    color: #3d4451;
    font-size: 34px;
    line-height: 1.2;
    font-weight: 600;
    text-align: center;
    margin-bottom:20px;
}
.skills>ol{
    background:white;
    box-shadow: 0px 1px 13px 1px rgba(0,0,0,0.3);
    padding:42px 50px 0;
}
.skills>ol>li{
    float:left;
    width:48%;
    font-size: 14px;
    line-height: 1.1;  
}
.skills>ol>li:nth-child(even){
    float:right;
}
.skills .progressBar{
    height:5px;
    background:#fae1e1;
    border-radius:2px;
    margin:4px 0 35px;
    overflow: hidden;
}
.skills .progressBar .progress{
    background:#e8676b;
    /* height:3px; */
    /* 和父元素一样高 */
    height:100%;
    width:50%;
    border-radius:2px;
    transform: translateX(0);
    transition:all 2s;
}
.skills.offset .progress{
    transform: translateX(-100%);
}
.portfolio ol{
    margin:0 auto;
    /* display:inline-block;
    vertical-align:top; */
}
.portfolio ol>li{
    float:left;
    margin-left:40px;
    cursor: pointer;
}
.portfolio{
    text-align:center;
}
.portfolio nav{
    text-align: center;
    display:inline-block;
    vertical-align:top;
}
.portfolio nav>ol>li:nth-child(1){
    margin-left:0;
}
.portfolio nav .bar{
    background:white;
    /* display:block; */
    height:5px;
    border-radius:2px;
    margin-top:5px;
    margin-bottom:28px;
}
.portfolio>nav .barinner{
    height:100%;
    background:#e8676b;
    border-radius:2px;
    width:12%;
    transition:all 1s;
}
/* .bar.state1需要连着写不要有空格*/
/* 一开始 <div id="portfolioBar" class="bar"> 点击鼠标之后<div id="portfolioBar" class='bar state1'> */
.portfolio>nav .bar.state1  .barinner{
    width:12%;
    margin-left:0px;
}
.portfolio>nav .bar.state2  .barinner{
    width:12%;
    margin-left:74px;
}
.portfolio nav .bar.state3  .barinner{
    width:40%;
    margin-left:150px;
}
.portfolio .works{
    position:relative;
    height:578px;
    margin-bottom: 100px;
}
.portfolio .works .big{
    position:absolute;
    top:0;
    left:0;
}
.portfolio .works .small1{
    position:absolute;
    top:0;
    left:644px;
}
.portfolio .works .small2{
     position:absolute;
     top:298px;
     left:644px;
}