body{
    background:black;
    color:white;
    margin:0;
     /*去掉body默认样式后边距少了8px */
}
a{
    color:inherit;
    text-decoration: none;
}
.clearfix::after{
    content:'';
    display:block;
    clear:both;
}
.topNavBar>nav>ul{
    list-style:none;margin:0;padding:0;
}
.topNavBar>nav>ul>li{
    float:left;
    margin-left:17px;
    margin-right:17px;
}
.topNavBar>nav>ul>li>a{
    font-size:12px;
    color:#cbcacb;
    /* text-decoration:none; 因为一开始的a标签已声明所以这里不用再写了*/
    font-weight:bold;
    border-bottom: 3px solid transparent;
    border-top: 3px solid transparent;
    padding-top:5px;
    padding-bottom:5px;
    display:block;
    /* 给a一个display：block使得li标签包裹住a标签 */ 
}
.topNavBar>nav>ul>li>a:hover{
    border-bottom: 3px solid #e8676b;
}
/* 下面的两个class样式可以用这个替换一下 把样式加在父级元素上
.rs{
    font-size:24px;
    font-family:"Arial Black";
}
.card{
    font-size:24px;
    font-family:"Arial Black";
} */
.topNavBar .logo{
    font-size:24px;
    font-family:"Arial Black";
    /* rs card和nav里的行高要一致，虽然例子中的高度是一样,为了了解我们故意设置高度：这样高度就为了40px */
    padding-top:3px;
    padding-bottom:4px;
}
.rs{
    margin-right:4px;
    color:#e8676b;
}
.card{
    color:#9a9da2;
}
 /* rs card和nav里的行高要一致，虽然例子中的高度是一样,为了了解我们故意设置高度：这样高度就为了40px */
.nav{
    padding-top:3px;
    padding-bottom:4px;
}
.topNavBar{
    /* padding-top:12px;去掉body默认样式后边距少了8px */
    /* 下面四行代码可以用下面的代码代替：
    padding-top:20px;
    padding-bottom:20px;
    padding-left:16px；
    padding-right:16px； */
    padding:20px 16px 20px 18px;

}
